@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Expense Tracker</h1>
        <p class="lead">Track your expenses, borrowed items, borrower, lender and expense type</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Expense" asp-action="Index" role="button">Track</a>
    </div>
</div>
